@import "../../assets/scss/Mixins";

html, body {
    height:100%;
}

ul#flex-container {
    list-style-type: none;  /*removes bullets */
    margin: 0;
    padding: 0; /*removes any inherent padding or margins*/
  //@include no-spacing();
    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: space-between;*/
    /*align-items:flex-end;*/
  //@include flex();
}

ul li {
    /* flex-grow:1; */
    height: 150px;
    padding-top:45px;
    color:#fff;
    font-weight:bold;
    font-size:2.2em;
    text-align:center;
}

ul li:first-child { background: #c2d775; /*order: 2*/ }
ul li:nth-child(2) { background: #007278; /*flex-grow: 2;*/ }
ul li:nth-child(3) { background: #c7b600 }
ul li:nth-child(4) { background: #a90077; /* flex-grow: 5;*/ }
ul li:nth-child(5) { background: #00a378; /*align-self: flex-end;*/ }
ul li:last-child { background: #00ea72 }

//@include small {
//  ul li {
//    height: 50px;
//  }
//}
//
//@include medium {
//  ul li {
//    height: 100px;
//  }
//}
//
//@include large {
//  ul li {
//    height: 200px;
//  }
//}
